<!DOCTYPE html>
<html lang="pt-br">

<%- include('includes/head'); %>


  <body>

    aaaaaaaaaaaaaaa
    <% if (typeof coisa !=="undefined" ) { %>
      <%= coisa %>
        <% } %>

          <script src="./assets/js/bundle.js"></script>
  </body>

</html>